<script lang="ts">
  import { loginApi } from '@src/controller/api/home/login';
  import { setToken } from '@src/utils/auth';
  export default {
    name: 'LoginPage',
  };
</script>
<script lang="ts" setup>
  const userInfo = reactive({
    username: '',
    password: '',
  });
  const btnLoading: boolean = ref(false);

  // 处理登录逻辑
  const handleLogin = async () => {
    try {
      btnLoading.value = true;
      const data = await loginApi(userInfo);
      setToken(data);
      gotoIndex();
    } catch (error) {
      console.error(error);
    } finally {
      btnLoading.value = false;
    }
  };
  // 跳到第一个有权限的页面
  const router = useRouter();
  const gotoIndex = () => {
    router.push({
      path: '/',
    });
  };
</script>

<template>
  <div class="login-wrap relative">
    <div class="login-input-wrap">
      <div class="title">乐药数据查询系统</div>
      <div class="sub-tite">LEYO SHU JU CHA XUN XI TONG</div>
      <div class="name-warp">
        <el-input
          v-model="userInfo.username"
          clearable
          placeholder="请输入名称"
          @keyup.enter="handleLogin()">
          <template #prepend>账号</template>
        </el-input>
      </div>
      <div class="password-warp">
        <el-input
          v-model="userInfo.password"
          type="password"
          clearable
          placeholder="请输入密码"
          @keyup.enter="handleLogin()">
          <template #prepend>密码</template>
        </el-input>
      </div>
      <div v-loading="btnLoading" class="btn-wrap" @click="handleLogin">
        <span class="text">登录</span>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .login-wrap {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: url('../../../../assets/icons/login-bg.svg');
    .login-input-wrap {
      position: absolute;
      background: #fff;
      border-radius: 6px;
      top: 50%;
      margin-top: -215px;
      right: 140px;
      height: 430px;
      width: 380px;
      box-shadow: 0 5px 31px #acc7e442;
    }
    .title {
      font-size: 28px;
      color: #3673ff;
      text-align: center;
      margin-top: 50px;
    }
    .sub-tite {
      color: #999;
      font-size: 12px;
      text-align: center;
      margin-top: 8px;
      letter-spacing: 1px;
    }
    .name-warp {
      width: 310px;
      margin: 45px auto 0 auto;
    }
    .password-warp {
      width: 310px;
      margin: 10px auto 0 auto;
    }
    .btn-wrap {
      width: 310px;
      height: 50px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: #fff;
      font-size: 16px;
      text-align: center;
      line-height: 50px;
      margin: 40px auto 0 auto;
      background: #3673ff;
      border-radius: 5px;
      cursor: pointer;
      .text {
        margin-left: 10px;
      }
    }
  }
</style>
