<!-- 编码与品种关系 -->
<script lang="ts">
  import { ref } from 'vue';
  import { ElMessage, ElMessageBox } from 'element-plus';
  import { PageHeader, LyPagination, LyImportDialog } from '@views/components';
  import { FilterRow } from './components';
  import {
    importCodeToVarieties,
    deleteAdministrationGoods,
  } from '@src/controller/api/HebeiDrug/codeToVarieties';

  import { PaginationParams } from '@src/types/common';
  import { CODE_TO_VARIETIES_CONFIG } from './js/config';
  import { searchController } from './js/controller';

  export default {
    name: 'InventoryData',
    components: {
      PageHeader,
      FilterRow,
      LyPagination,
      LyImportDialog,
    },
  };
</script>

<script lang="ts" setup>
  /*
    查询
  */
  const { dataList, totalCount, tableLoading, fetchCodeToVarietiesDataList } =
    searchController();
  const params = ref({});
  const pgCfg: PaginationParams = reactive({
    current: 1,
    size: 10,
  });
  const handleSearch = async (current = 1) => {
    pgCfg.current = current;
    const p = { ...pgCfg, ...params.value };
    await fetchCodeToVarietiesDataList(p);
  };
  handleSearch();

  /*
    导入
  */
  // 是否显示弹窗
  let showDialogFlag: boolean = ref(false);
  const templateHeader = {
    ERP品种编码: '',
    中心品种编码: '',
    药品名称: '',
    '品种类型（0：药品制剂 1：中药饮片）': '',
    包装类型: '',
  };
  const uploadApi = importCodeToVarieties;
  const handleUpload = () => {
    showDialogFlag.value = true;
  };
  // 上传成功
  const handleConfirmImport = () => {
    handleSearch();
  };

  /*
    删除
  */
  const deleteOneRow = async (goodsCode: string) => {
    try {
      ElMessageBox.confirm('确认要删除吗？', '提示', {
        confirmButtonText: '确认',
        cancelButtonText: '取消',
        type: 'warning',
      }).then(async () => {
        await deleteAdministrationGoods([goodsCode]);
        ElMessage.success('删除成功！');
        handleSearch();
      });
    } catch (error) {
      console.error(error);
    }
  };
</script>

<template>
  <PageHeader title="编码与品种关系" />
  <el-card>
    <FilterRow
      v-model:params="params"
      @search="handleSearch(1)"
      @upload="handleUpload" />
  </el-card>
  <el-card>
    <el-table
      v-loading="tableLoading"
      :data="dataList"
      border
      style="width: 100%"
      header-align="center">
      <el-table-column label="序号" width="80px" align="center">
        <template #default="scope">
          <div>
            {{ scope.$index + (pgCfg.current - 1) * pgCfg.size + 1 }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        v-for="col in CODE_TO_VARIETIES_CONFIG"
        :key="col.prop"
        :min-width="col.width"
        :prop="col.prop"
        :label="col.label"
        align="center" />
      <el-table-column label="操作" align="center">
        <template #default="{ row }">
          <el-button type="danger" @click="deleteOneRow(row.goodsCode)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <LyPagination
      v-model:current-page="pgCfg.current"
      v-model:page-size="pgCfg.pageSize"
      :total="totalCount"
      @current-change="handleSearch"
      @size-change="handleSearch(1)" />

    <!-- 导入 -->
    <LyImportDialog
      v-model:modelValue="showDialogFlag"
      :upload-api="uploadApi"
      :template-header="templateHeader"
      @confirm="handleConfirmImport" />
  </el-card>
</template>

<style lang="scss" scoped>
  .purchase-data {
  }
</style>
