<script lang="ts" setup></script>

<template>
  <div class="microapp-wrap">
    <micro-app
      name="microappDataCenter"
      url="http://localhost:8080/"
      baseroute="/microapp-route" />
  </div>
</template>

<style lang="scss">
  .microapp-wrap {
    position: relative;
    flex: 1;
    @apply pt-2;
  }
</style>
