<template>
  <div class="flex flex-row page-layout-footer">
    © 广州乐药信息科技有限公司 粤ICP备19151693号
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';

  export default defineComponent({
    name: 'AppFooter',
    setup() {},
  });
</script>

<style lang="scss" scoped>
  .page-layout-footer {
    flex: 0 0 auto;
    height: 60px;
  }
</style>
