<script setup lang="ts">
  import { NavigateList } from './components';

  const handleInfoCommand = (cmd: string): void => {
    // 处理下拉框的点击事件
    console.log('cmd: ', cmd);
  };
</script>

<template>
  <div class="page-layout-header">
    <!-- logo -->
    <div class="flex flex-none header-left">
      <i class="logo" />
      药监系统
    </div>
    <!-- logo -->
    <!-- 页签 -->
    <div class="page-layout-navigate-list">
      <NavigateList />
    </div>
    <!-- 页签 -->
    <div class="header-right">
      <!-- 用户信息 -->
      <div class="user-info">
        <el-dropdown
          class="cursor-pointer"
          trigger="click"
          placement="bottom"
          @command="handleInfoCommand">
          <!-- <div class="user-name">你好，欢迎登陆icarus</div>
          <template #dropdown>
            <el-dropdown-item command="logout">
              <el-button type="text">退出登录</el-button>
            </el-dropdown-item>
          </template> -->
        </el-dropdown>
      </div>
      <!-- 用户信息 -->
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .page-layout-header {
    @apply relative flex flex-row justify-between items-center flex-none w-full pr-2;

    * {
      font-size: 14px;
    }

    .logo {
      width: 28px;
      height: 28px;
      border-radius: 6px;
      background-color: #fa8c16;
    }

    .header-left {
      .logo {
        @apply mr-2;
      }

      width: 192px;
      padding-left: 18px;
      font-weight: bold;
      line-height: 28px;
    }

    .header-right {
      @apply flex flex-none items-center;

      .avataor {
        width: 26px;
        height: 26px;
        border-radius: 50%;
      }

      .user-info {
        @apply flex items-center;

        margin-left: 32px;
      }

      .create-btn {
        margin-left: 24px;
      }
    }

    .quick-search {
      :deep(.el-input__suffix) {
        @apply flex justify-center items-center;
      }

      .el-input {
        width: 260px;
      }
    }

    .page-layout-navigate-list {
      @apply flex-auto overflow-hidden mr-1;
    }

    height: 66px;
    box-shadow: 0 0 14px 0 rgb(0, 0, 0, 6%);
    z-index: 1;
  }
</style>
