<script lang="ts" setup>
  const indexHomeName = ref('欢迎来到药监系统');
</script>

<template>
  <div :class="$style['img-wrap']" />
  <div :class="$style['home-wrap']">{{ indexHomeName }}</div>
</template>

<style lang="scss" module>
  .img-wrap {
    @apply flex flex-1 justify-center  pt-2;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background: url('../../../assets/icons/index.png');
  }
  .home-wrap {
    @apply flex flex-1 justify-center  pt-2;
    color: #fa8c16;
    font-size: 25px;
  }
</style>
