<template>
  <svg
    width="14"
    height="14"
    viewBox="0 0 14 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M13.0801 7.07996C13.0801 3.76628 10.3938 1.07996 7.08008 1.07996C3.76641 1.07996 1.08008 3.76628 1.08008 7.07996C1.08008 10.3936 3.76641 13.08 7.08008 13.08C10.3938 13.08 13.0801 10.3936 13.0801 7.07996ZM2.08008 7.07996C2.08008 4.31863 4.31875 2.07996 7.08008 2.07996C9.84141 2.07996 12.0801 4.31863 12.0801 7.07996C12.0801 9.84128 9.84141 12.08 7.08008 12.08C4.31875 12.08 2.08008 9.84128 2.08008 7.07996Z"
      fill="#FF4D4F" />
    <path
      d="M8.43934 5.14645C8.6346 4.95118 8.95118 4.95118 9.14645 5.14645V5.14645C9.34171 5.34171 9.34171 5.65829 9.14645 5.85355L5.61091 9.38909C5.41565 9.58435 5.09907 9.58435 4.90381 9.38909V9.38909C4.70854 9.19383 4.70854 8.87724 4.90381 8.68198L8.43934 5.14645Z"
      fill="#FF4D4F" />
    <path
      d="M4.90433 5.81802C4.70907 5.62276 4.70907 5.30618 4.90433 5.11092V5.11092C5.0996 4.91565 5.41618 4.91565 5.61144 5.11092L9.14698 8.64645C9.34224 8.84171 9.34224 9.1583 9.14698 9.35356V9.35356C8.95171 9.54882 8.63513 9.54882 8.43987 9.35356L4.90433 5.81802Z"
      fill="#FF4D4F" />
  </svg>
</template>
