<template>
  <svg
    width="84"
    height="84"
    viewBox="0 0 84 84"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <circle cx="42" cy="42" r="42" fill="#F1F7FF" />
    <path
      d="M26.93 22.8599C26.204 22.8599 25.5 23.5859 25.5 24.2899V59.6879C25.5 60.4139 26.226 61.1179 26.93 61.1179H57.07C57.796 61.1179 58.5 60.3919 58.5 59.6879V31.2419L50.14 22.8819L26.93 22.8599Z"
      fill="#2784FF" />
    <path
      d="M50.3601 22.8599V29.5479C50.3601 30.2739 51.0861 30.9779 51.7901 30.9779H58.5001L50.3601 22.8599Z"
      fill="#C0DDFF" />
    <path
      d="M48.6949 42.2206C48.6949 42.2206 48.6949 37.1052 44.6449 36.3007C40.595 35.4962 38.8593 39.5574 38.8195 39.6777C38.7797 39.798 38.5886 39.7433 38.5886 39.7433C38.2754 39.4398 36.7049 38.7335 35.4543 39.6367C34.2036 40.5398 34.5333 42.237 34.5333 42.237C34.5333 42.237 31.5724 42.237 31.2929 45.4636C31.0133 48.6902 34.045 49.8386 34.045 49.8386H40.5047V46.5163H38.7213C38.647 46.5109 38.5886 46.4507 38.5886 46.3714C38.5886 46.3249 38.6125 46.2867 38.647 46.2593L41.5849 42.8523C41.6221 42.8085 41.6751 42.7812 41.7362 42.7812C41.7999 42.7812 41.853 42.814 41.8901 42.8605L44.8068 46.2429C44.8121 46.2456 44.8148 46.2511 44.8201 46.2538L44.8466 46.2812H44.8387C44.8519 46.3058 44.8599 46.3277 44.8599 46.355C44.8599 46.4398 44.7935 46.5109 44.7086 46.5109C44.706 46.5109 44.706 46.5081 44.7033 46.5081V46.5136H42.9862V49.8414H48.8488C48.8488 49.8414 51.8902 49.179 51.8902 46.1472C51.8902 43.1154 48.6949 42.2206 48.6949 42.2206Z"
      fill="white" />
  </svg>
</template>
