<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M3.5 4.5V3C3.5 1.89543 4.39543 1 5.5 1H15.1716C15.702 1 16.2107 1.21071 16.5858 1.58579L20.4142 5.41421C20.7893 5.78929 21 6.29799 21 6.82843V20.5C21 21.6046 20.1046 22.5 19 22.5H5.5C4.39543 22.5 3.5 21.6046 3.5 20.5V19.5"
      stroke="#555555"
      stroke-linecap="round" />
    <path
      d="M16 1.5V5C16 5.55228 16.4477 6 17 6H20.5"
      stroke="#555555"
      stroke-linecap="round" />
    <path
      d="M12 6C13.1046 6 14 6.89543 14 8V16C14 17.1046 13.1046 18 12 18H4C2.89543 18 2 17.1046 2 16V8C2 6.89543 2.89543 6 4 6H12Z"
      stroke="#555555" />
    <path
      d="M9.76778 9.52494C9.96305 9.32968 10.2796 9.32968 10.4749 9.52494C10.6702 9.7202 10.6702 10.0368 10.4749 10.232L6.23225 14.4747C6.03699 14.6699 5.72041 14.6699 5.52514 14.4747C5.32988 14.2794 5.32988 13.9628 5.52514 13.7676L9.76778 9.52494Z"
      fill="#555555" />
    <path
      d="M5.52518 10.2325C5.32992 10.0372 5.32992 9.72062 5.52518 9.52535C5.72045 9.33009 6.03703 9.33009 6.23229 9.52535L10.4749 13.768C10.6702 13.9633 10.6702 14.2798 10.4749 14.4751C10.2797 14.6704 9.96309 14.6704 9.76782 14.4751L5.52518 10.2325Z"
      fill="#555555" />
  </svg>
</template>
