<!-- 批量导入对话框 -->
<script lang="ts">
  import { withDefaults, defineProps, defineEmits, ref, watch } from 'vue';
  import { ElMessage, UploadFile, UploadRawFile } from 'element-plus';
  import { Obj } from '@src/types/global';
  import { UploadApi, ImportFilterFun } from './type/index';
  import IconSuccess from './icons/icon-success.vue';
  import IconFail from './icons/icon-fail.vue';
  import IconTemplateFile from './icons/template-file.vue';
  import UploadSign from './icons/sign-upload.vue';
  import { exportExcelJson } from '@src/utils/exportExcelJson';

  export default {
    name: 'GBatchImportDialog',
  };
</script>
<script setup lang="ts">
  const props = withDefaults(
    defineProps<{
      /** 是否显示 */
      modelValue: boolean;
      /** 上传解析请求方法 */
      uploadApi: UploadApi;
      /** 模板文件Header */
      templateHeader: Obj;
      /** 可导入条目的数量限制 */
      importLimitNum?: number;
      /** 过滤方法 - 进一步过滤调整接口解析后的成功与错误条目 */
      importFilterFun?: ImportFilterFun;
      /** 接口返回成功条目字段 */
      validPropName?: string;
      /** 接口返回错误条目字段 */
      invalidPropName?: string;
      /** 解析接口成功结果码 - 默认40001 */
      uploadApiSuccessCode?: number;
    }>(),
    {
      importLimitNum: undefined,
      importFilterFun: undefined,
      validPropName: 'validList',
      invalidPropName: 'invalidList',
      templateHeader: null,
      uploadApiSuccessCode: 40001,
    },
  );

  const emit = defineEmits<{
    (event: 'update:modelValue', value: boolean): void;
    (event: 'invalid-export', invalidlist: Obj[]): void;
    (event: 'confirm', importList: Obj[], closeDialogFun: () => void): void;
  }>();

  // 显示控制
  const innerModelValue = ref(props.modelValue);
  watch(
    () => props.modelValue,
    (value) => {
      innerModelValue.value = value;
      if (innerModelValue.value) {
        resetUploadData();
      }
    },
  );
  const updateModelValue = (val: boolean) => {
    emit('update:modelValue', val);
  };

  const uploadLoading = ref(false);
  /** 上传结果说明 */
  const uploadResult = ref('');
  /** 上传结果额外说明 */
  const uploadResultExtra = ref('');
  /** 是否上传成功 */
  const uploadSuccessFlag = ref(true);
  /** 上传成功的条目 */
  const uploadValidList = ref([]);
  /** 上传失败的条目 */
  const uploadInvalidList = ref([]);

  /** 重置上传数据 */
  const resetUploadData = () => {
    uploadLoading.value = false;
    uploadResult.value = '';
    uploadResultExtra.value = '';
    uploadSuccessFlag.value = true;
    uploadValidList.value = [];
    uploadInvalidList.value = [];
  };

  const uploadDom = ref(null);
  /** 上传文件处理 */
  const handleFileRead = async (file: UploadFile) => {
    if (!props.uploadApi) {
      console.log('请配置上传方法');
      return;
    }
    const getFile = file.raw as UploadRawFile;
    resetUploadData();
    const isXlsx =
      getFile.type ===
      'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
    const isXls = getFile.type === 'application/vnd.ms-excel';
    if (!isXlsx && !isXls) {
      ElMessage.warning('文件格式错误');
      return;
    }
    try {
      uploadLoading.value = true;
      const params = {
        file: getFile,
      };
      const api = props.uploadApi;
      const res = await api(params);
      ElMessage.success('上传成功');
      updateModelValue(false);
      emit('confirm');
    } catch (error) {
      console.log('error', error);
      uploadSuccessFlag.value = false;
      uploadResult.value = '上传失败!';
    } finally {
      uploadLoading.value = false;
      uploadDom.value.handleRemove(file);
    }
  };

  /** 下载错误条目 */
  const downloadInvalidList = () => {
    emit('invalid-export', uploadInvalidList.value);
  };

  /** 下载模板文件 */
  const downloadTemplateFile = () => {
    exportExcelJson(props.templateHeader, [], '品种与编码关系导入模板');
  };

  /** 点击确认 */
  const handleConfirmImport = () => {
    if (uploadValidList.value.length > 0) {
      const getLimitNum = props.importLimitNum;
      if (getLimitNum && uploadValidList.value.length > getLimitNum) {
        ElMessage.error(`最多导入${getLimitNum}条`);
        return;
      }
      const closeDialogFun = () => {
        uploadLoading.value = false;
        innerModelValue.value = false;
      };
      uploadLoading.value = true;
      emit('confirm', uploadValidList.value, closeDialogFun);
    } else {
      ElMessage.error('请先上传文件');
    }
  };

  /** 点击关闭 */
  const handleCloseDialog = (done: () => void) => {
    done();
  };
</script>

<template>
  <div class="g-batch-import-dialog">
    <el-dialog
      :model-value="innerModelValue"
      width="388px"
      center
      custom-class="import-file-dialog"
      :before-close="handleCloseDialog"
      @update:model-value="updateModelValue">
      <template #title>
        <div class="header-box">
          <span class="header-text card-title">批量导入</span>
        </div>
      </template>
      <div v-loading="uploadLoading" class="body-box">
        <div v-if="uploadResultExtra" class="upload-result-text success">
          {{ uploadResultExtra }}
        </div>
        <div class="upload-result-remind">
          <template v-if="uploadResult">
            <el-icon v-if="uploadSuccessFlag" :size="14">
              <IconSuccess />
            </el-icon>
            <el-icon v-else :size="14">
              <IconFail />
            </el-icon>
            <span
              class="upload-result-text"
              :class="{ success: uploadSuccessFlag }">
              {{ uploadResult }}
            </span>
          </template>
        </div>
        <el-upload
          ref="uploadDom"
          action=""
          drag
          :limit="1"
          :auto-upload="false"
          :on-change="handleFileRead"
          :show-file-list="false"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          @drop.stop="">
          <el-icon class="fail-icon" :size="84">
            <UploadSign />
          </el-icon>
          <div class="upload-title">点击上传文件</div>
          <div class="upload-remind">或拖拽上传</div>
        </el-upload>
        <div class="download-template-box">
          <template v-if="uploadInvalidList.length > 0">
            <span class="download-text invalid">错误条目</span>
            <span class="download-btn" @click="downloadInvalidList()">
              下载
            </span>
          </template>
          <template v-else>
            <div class="flex items-center">
              <el-icon class="icon-template-file align-middle">
                <IconTemplateFile />
              </el-icon>
              <span class="download-text">模版文件</span>
            </div>
            <el-button class="download-btn" @click="downloadTemplateFile()">
              下载
            </el-button>
          </template>
        </div>
        <div class="confirm-btn">
          <el-button
            type="primary"
            :disabled="uploadValidList.length === 0"
            @click="handleConfirmImport">
            确认
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<style lang="scss">
  .download-template-box {
    display: flex;
    justify-content: space-between;
  }
  .confirm-btn {
    visibility: hidden;
    text-align: center;
  }
  .el-upload-dragger {
    width: 340px;
  }
</style>
