<script lang="ts">
  // import { watch, ref } from 'vue';
  import { reactive, nextTick, defineEmits } from 'vue';
  import { DRUG_TYPE } from '@src/types/common';
  export default {
    name: 'FilterRow',
  };
</script>

<script setup lang="ts">
  const model = reactive({
    supplierName: '',
    billCode: '',
    billType: '',
    typeName: '',
    goodsCode: '',
    itemCode: '',
  });

  /*
    重置
  */
  const handleReset = () => {
    model.status = '';
    model.typeName = '';
    handleSearch();
  };

  /*
    同步父组件
  */
  const emits = defineEmits(['update:params', 'search', 'upload']);
  const handleSearch = () => {
    emits('update:params', { ...model });
    nextTick(() => {
      emits('search', { ...model });
    });
  };
  const handleUpload = () => {
    nextTick(() => {
      emits('upload');
    });
  };
</script>
<template>
  <div class="filter-row">
    <el-form inline :model="model">
      <el-form-item label="通用名">
        <el-input
          v-model="model.commonName"
          placeholder="请输入名称"
          clearable />
      </el-form-item>
      <el-form-item label="ERP品种编码">
        <el-input v-model="model.goodsCode" placeholder="请输入" clearable />
      </el-form-item>
      <el-form-item label="中心品种编码">
        <el-input v-model="model.itemCode" placeholder="请输入" clearable />
      </el-form-item>
      <el-form-item label="药监平台品种类型">
        <el-select v-model="model.billType" placeholder="请选择" clearable>
          <template v-for="(item, index) in DRUG_TYPE" :key="item">
            <el-option
              v-if="item < Object.keys(DRUG_TYPE).length"
              :label="index"
              :value="item" />
          </template>
        </el-select>
      </el-form-item>
      <div class="filter-btn-wrap">
        <el-button plain @click="handleReset">重置</el-button>
        <el-button type="primary" @click="handleSearch">搜索</el-button>
        <el-button type="primary" @click="handleUpload">导入</el-button>
      </div>
    </el-form>
  </div>
</template>

<style lang="scss" scoped>
  .filter-row {
  }
</style>
