<script lang="ts" setup>
  import { appStore } from '@store/app';
  import { Router, useRouter } from 'vue-router';
  import { Ref } from 'vue';
  import { staticMenu } from './js/config';

  const router: Router = useRouter();
  const app = appStore();
  const currentRoute = computed(() => router.currentRoute.value.path);
  const menuRef: Ref = ref(null);
  const menuProps = {
    children: 'children',
    label: 'label',
  };
  const isCollapse = computed(() => app.menuCollapse);
  const menu = reactive(staticMenu);
  const toggleMenu = (): void => {
    app.collapseMenu();
  };
</script>

<template>
  <div class="flex-none page-layout-side-bar">
    <el-menu
      ref="menuRef"
      :props="menuProps"
      :collapse="isCollapse"
      :default-active="currentRoute"
      router>
      <div v-for="item in menu" :key="item.id">
        <el-sub-menu v-if="item.children" :index="item.path">
          <template #title>
            <component
              :is="item.icon"
              class="menu-icon flex-none w-md h-md mr-md" />
            <span>{{ item.label }}</span>
          </template>
          <el-menu-item
            v-for="itemSub in item.children"
            :key="itemSub.id"
            :index="itemSub.path">
            <component
              :is="item.icon"
              class="menu-icon flex-none w-md h-md mr-md" />
            <span>{{ itemSub.label }}</span>
          </el-menu-item>
        </el-sub-menu>
        <el-menu-item v-else :index="item.path">
          <component
            :is="item.icon"
            class="menu-icon flex-none w-md h-md mr-md" />
          <span>{{ item.label }}</span>
        </el-menu-item>
      </div>
    </el-menu>
    <div class="collapse-btn" @click.stop="toggleMenu"><i-menu /></div>
  </div>
</template>

<style lang="scss" scoped>
  $color-primary: #fa8c16;

  .page-layout-side-bar {
    @apply relative;
    padding-top: 30px;

    max-width: 250px;
    height: 100%;
    background-color: #fff;
    overflow: auto;

    .menu-icon {
      width: 14px;
      height: 14px;

      & + span {
        margin-left: 15px;
      }
    }

    :deep(.el-menu) {
      height: 100%;
      border-right: none;
      background-color: transparent;

      &:not(.el-menu--collapse) {
        width: 192px;
      }

      .el-menu-item,
      .el-sub-menu__title {
        @apply transition-all;

        height: 40px;
        color: #666;

        &:hover {
          border-right: 3px solid #fa8c16;
          background-color: transparent;
        }
        &.is-active {
          color: #fa8c16;
          border-right: 3px solid #fa8c16;
          background-color: #fff7ee;
        }
      }

      &.el-menu--collapse {
        .el-menu-item,
        .el-sub-menu__title {
          span {
            width: 0;
            height: 0;
            overflow: hidden;
          }
        }
      }

      .el-sub-menu {
        .el-menu-item {
          min-width: auto;
        }
        &.is-active {
          .el-sub-menu__title {
            color: $color-primary;
            .el-sub-menu__icon-arrow {
              color: #666;
            }
          }
        }
      }
    }

    .collapse-btn {
      @apply absolute cursor-pointer;

      bottom: 24px;
      left: 50%;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      transform: translate(-50%, 0);
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
</style>
