<script lang="ts">
  import {
    reactive,
    nextTick,
    defineEmits,
    withDefaults,
    defineProps,
  } from 'vue';
  export default {
    name: 'FilterRow',
  };
</script>

<script setup lang="ts">
  const props = withDefaults(
    defineProps<{
      downLoading?: boolean;
    }>(),
    {
      downLoading: false,
    },
  );
  const model = reactive({
    batchCode: '',
    goodsCode: '',
    itemCode: '',
  });

  /*
    重置
  */
  const handleReset = () => {
    model.batchCode = '';
    model.goodsCode = '';
    model.itemCode = '';
    handleSearch();
  };

  /*
    同步父组件
  */
  const emits = defineEmits([
    'update:params',
    'update:downLoading',
    'search',
    'export',
  ]);
  const handleSearch = () => {
    emits('update:params', { ...model });
    nextTick(() => {
      emits('search', { ...model });
    });
  };
  const handleExport = () => {
    nextTick(() => {
      emits('export', { ...model });
    });
  };
</script>
<template>
  <div class="filter-row">
    <el-form inline :model="model">
      <el-form-item label="批号">
        <el-input v-model="model.batchCode" placeholder="请输入" clearable />
      </el-form-item>
      <el-form-item label="ERP的品种编码">
        <el-input v-model="model.goodsCode" placeholder="请输入" clearable />
      </el-form-item>
      <el-form-item label="中心品种编码">
        <el-input v-model="model.itemCode" placeholder="请输入" clearable />
      </el-form-item>
      <div class="filter-btn-wrap">
        <el-button plain @click="handleReset">重置</el-button>
        <el-button type="primary" @click="handleSearch">搜索</el-button>
        <el-button
          :loading="props.downLoading"
          type="primary"
          @click="handleExport">
          导出
        </el-button>
      </div>
    </el-form>
  </div>
</template>

<style lang="scss" scoped>
  .filter-row {
  }
</style>
