<!-- 生产入库 -->
<script lang="ts">
  import { ref } from 'vue';
  import { PageHeader, LyPagination } from '@views/components';
  import { FilterRow } from './components';
  import { searchController, exportController } from './js/controller';
  import { PARAMS_PRODUCTION_IN_DATA } from './js/type';
  import { PaginationParams } from '@src/types/common';
  import { CONFIG_IN } from '../js/config-in';
  export default {
    name: 'PurchaseData',
    components: {
      PageHeader,
      FilterRow,
    },
  };
</script>

<script lang="ts" setup>
  /*
    查询
  */
  const { dataList, totalCount, tableLoading, fetchPurchaseInDataList } =
    searchController();
  const params = ref({});
  const pgCfg: PaginationParams = reactive({
    current: 1,
    size: 10,
  });
  const handleSearch = async (current = 1) => {
    pgCfg.current = current;
    const p: PARAMS_PRODUCTION_IN_DATA = { ...pgCfg, ...params.value };
    await fetchPurchaseInDataList(p);
  };
  handleSearch();

  /*
    导出
  */
  const { downLoading, downPurchaseInData } = exportController();
  const handleExport = async () => {
    const p: PARAMS_PRODUCTION_IN_DATA = { ...pgCfg, ...params.value };
    await downPurchaseInData(p, '生产入库数据');
  };
</script>

<template>
  <PageHeader title="生产入库" />

  <el-card>
    <FilterRow
      v-model:params="params"
      v-model:downLoading="downLoading"
      @search="handleSearch(1)"
      @export="handleExport" />
  </el-card>

  <el-card>
    <el-table
      v-loading="tableLoading"
      :data="dataList"
      border
      style="width: 100%"
      header-align="center">
      <el-table-column label="序号" width="80px" align="center">
        <template #default="scope">
          <div>
            {{ scope.$index + (pgCfg.current - 1) * pgCfg.size + 1 }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        v-for="col in CONFIG_IN"
        :key="col.prop"
        :min-width="col.width"
        :prop="col.prop"
        :label="col.label"
        align="center" />
    </el-table>
    <LyPagination
      v-model:current-page="pgCfg.current"
      v-model:page-size="pgCfg.pageSize"
      :total="totalCount"
      @current-change="handleSearch"
      @size-change="handleSearch(1)" />
  </el-card>
</template>

<style lang="scss" scoped>
  .purchase-data {
  }
</style>
