<script setup lang="ts">
  import { HeaderBar, SideBar } from './views/layout';
  import DevideWatcher from '@src/mixins/device-watcher';
  import { appStore } from '@store/app';

  //获取store中的侧边栏和头部栏的信息
  const app = appStore();
  const useHeader = computed(() => app.layoutConfig.header);
  const useSideBar = computed(() => app.layoutConfig.sideBar);
  DevideWatcher();

  const route = useRoute();

  const contentstyle = computed(
    () => route.meta.hideHeaderBar && route.meta.hideSiderBar,
  );
</script>

<template>
  <div id="icarus" class="w-full h-screen flex flex-col">
    <HeaderBar v-if="useHeader && !route.meta.hideHeaderBar" />
    <div class="flex flex-row page-layout-main">
      <SideBar v-if="useSideBar && !route.meta.hideSiderBar" />
      <div
        class="flex flex-col page-layout-main-right"
        :class="{ noPadding: contentstyle }">
        <div class="page-layout-content">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  #app {
    color: #2c3e50;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .page-layout-main {
    flex: 1;
    overflow: hidden;
  }

  .page-layout-main-right {
    @apply pt-2 pb-2 pl-2 pr-2;

    .nav {
      width: 100%;
      height: 100px;
    }

    .page-layout-content {
      @apply text-left;
      flex: 1;
      overflow: auto;
    }

    flex: 1;
    height: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
  }

  .noPadding {
    padding: 0 !important;
  }
</style>
