<script lang="ts">
  import {
    reactive,
    nextTick,
    defineEmits,
    withDefaults,
    defineProps,
  } from 'vue';
  import { PARAMS_SALES_TYPE } from '@src/types/common';
  import { LyDatePicker } from '@views/components';
  export default {
    name: 'FilterRow',
    components: {
      LyDatePicker,
    },
  };
</script>

<script setup lang="ts">
  const props = withDefaults(
    defineProps<{
      downLoading?: boolean;
    }>(),
    {
      downLoading: false,
    },
  );
  const model = reactive({
    clientName: '',
    billCode: '',
    billType: '',
    typeName: '',
    goodsCode: '',
    itemCode: '',
    startDate: '',
    endDate: '',
  });

  /*
    重置
  */
  const handleReset = () => {
    model.clientName = '';
    model.billCode = '';
    model.billType = '';
    model.typeName = '';
    model.goodsCode = '';
    model.itemCode = '';
    model.startDate = '';
    model.endDate = '';
    handleSearch();
  };

  /*
    同步父组件
  */
  const emits = defineEmits([
    'update:params',
    'update:downLoading',
    'search',
    'export',
  ]);
  const handleSearch = () => {
    emits('update:params', { ...model });
    nextTick(() => {
      emits('search', { ...model });
    });
  };
  const handleExport = () => {
    nextTick(() => {
      emits('export', { ...model });
    });
  };
</script>
<template>
  <div class="filter-row">
    <el-form inline :model="model">
      <el-form-item label="客户名称">
        <el-input
          v-model="model.clientName"
          placeholder="请输入名称"
          clearable />
      </el-form-item>
      <el-form-item label="销售出库/退回单号">
        <el-input v-model="model.billCode" placeholder="请输入" clearable />
      </el-form-item>
      <el-form-item label="出库类型">
        <el-select v-model="model.billType" placeholder="请选择" clearable>
          <template v-for="(item, index) in PARAMS_SALES_TYPE" :key="item">
            <el-option
              v-if="item < Object.keys(PARAMS_SALES_TYPE).length"
              :label="index"
              :value="item" />
          </template>
        </el-select>
      </el-form-item>
      <el-form-item label="出库/退回时间">
        <LyDatePicker
          v-model:startTime="model.startDate"
          v-model:endTime="model.endDate" />
      </el-form-item>
      <el-form-item label="ERP的品种编码">
        <el-input v-model="model.goodsCode" placeholder="请输入" clearable />
      </el-form-item>
      <el-form-item label="中心品种编码">
        <el-input v-model="model.itemCode" placeholder="请输入" clearable />
      </el-form-item>
      <div class="filter-btn-wrap">
        <el-button plain @click="handleReset">重置</el-button>
        <el-button type="primary" @click="handleSearch">搜索</el-button>
        <el-button
          :loading="props.downLoading"
          type="primary"
          @click="handleExport">
          导出
        </el-button>
      </div>
    </el-form>
  </div>
</template>

<style lang="scss" scoped>
  .filter-row {
  }
</style>
