$main-color: #2784FF;
$page-bg: #F1F7FF;
$light-border-color: #F0F0F0;
$border-color: #F1F7FF;
$danger-border-color: #FF4D4F;
$table-border-color: #F7F9FC;

$text-color-main: #262626;
$text-color-common: #888888;
$text-color-primary: #5BA8F8;
$text-color-danger: #EC5B56;
$text-color-danger2: #ff4d4f;
$text-color-success: #52c41a;
$text-color-warning: #ff820d;
