<script lang="ts">
  import dayjs from 'dayjs';
  import { ref, defineEmits, watch } from 'vue';
  import { withDefaults, defineProps } from 'vue';
  export default {
    name: 'LyDatePicker',
  };
</script>

<script setup lang="ts">
  withDefaults(
    defineProps<{
      /** 开始时间 **/
      startTime?: string;
      /** 结束时间 **/
      endTime?: string;
    }>(),
    {
      startTime: '',
      endTime: '',
    },
  );
  const inputTime = ref([]);
  /*
    时间设置
  */
  const defaultTimeFormat = [
    dayjs().startOf('day').format('YYYY-MM-DD HH:mm:ss'),
    dayjs().endOf('day').format('YYYY-MM-DD HH:mm:ss'),
  ];
  const pickerOptions = {
    disabledDate(time) {
      return dayjs(time).isAfter(dayjs().endOf('day'));
    },
  };

  const emits = defineEmits(['update:startTime', 'update:endTime']);
  watch(
    () => inputTime.value,
    (newVal) => {
      if (!newVal) {
        emits('update:startTime', '');
        emits('update:endTime', '');
        inputTime.value = [];
        return;
      }
      emits('update:startTime', newVal[0]);
      emits('update:endTime', newVal[1]);
    },
  );
</script>

<template>
  <div class="ly-date-picker">
    <el-date-picker
      v-model="inputTime"
      :picker-options="pickerOptions"
      type="datetimerange"
      start-placeholder="开始时间"
      end-placeholder="结束时间"
      :default-time="defaultTimeFormat"
      value-format="YYYY-MM-DD HH:mm:ss"
      format="YYYY-MM-DD HH:mm:ss" />
  </div>
</template>

<style lang="scss" scoped></style>
