<script lang="ts">
  import { defineComponent } from 'vue';

  export default defineComponent({
    name: 'LyIcon',
    props: {
      useEl: {
        type: Boolean,
        default: false,
      },
      icon: {
        type: String,
        default: '',
      },
      width: {
        type: [Number, String],
        default: 50,
      },
      height: {
        type: [Number, String],
        default: 50,
      },
    },
    computed: {
      iconSize() {
        return { width: this.width + 'px', height: this.height + 'px' };
      },
    },
  });
</script>

<template>
  <span class="ly-icon" :style="iconSize">
    <svg
      v-if="!useEl && icon"
      :class="'icarus-icon_' + icon"
      :width="width"
      :height="height">
      <use :xlink:href="icon" />
    </svg>
    <component :is="icon" v-if="useEl" :style="iconSize" />
  </span>
</template>

<style lang="scss" scoped>
  .ly-icon {
    @apply inline-flex align-middle justify-center items-center;
  }

  svg {
    vertical-align: middle;
  }
</style>
