<template>
  <div class="flex flex-row-reverse justify-between items-center mt-2">
    <el-pagination
      :page-size="pageSize"
      :current-page="innerCurrentPage"
      background
      :layout="layout"
      :total="total"
      :page-sizes="pageSizes"
      @update:page-size="handleUpdatePageSize"
      @update:current-page="handleUpdateCurrentPage" />
    <div v-if="selectionCount" class="selection-info">
      <span class="ml-1">已选择{{ selectionCount }}项</span>
    </div>
  </div>
</template>
<script lang="ts">
  import { withDefaults, defineProps, ref, defineEmits, watch } from 'vue';

  export default {
    name: 'LyPagination',
  };
</script>
<script lang="ts" setup>
  interface Props {
    selectionCount?: number;
    total: number;
    layout?: string;
    pageSize?: number;
    pageSizes?: number[];
    currentPage: number;
  }
  const props = withDefaults(defineProps<Props>(), {
    selectionCount: 0,
    layout: 'total,prev, pager, next, sizes, jumper',
    pageSize: 10,
    pageSizes: () => [10, 20, 50, 100],
  });

  const emit = defineEmits([
    'update:currentPage',
    'update:pageSize',
    'current-change',
    'size-change',
  ]);

  const innerCurrentPage = ref(props.currentPage);
  const innerPageSize = ref(props.pageSize);

  const handleUpdateCurrentPage = (val: number) => {
    emit('update:currentPage', val);
    emit('current-change', val);
  };
  const handleUpdatePageSize = (val: number) => {
    emit('update:pageSize', val);
    emit('size-change', val);
  };

  watch(
    () => props.currentPage,
    (val: number) => {
      innerCurrentPage.value = val;
    },
  );
  watch(
    () => props.pageSize,
    (val: number) => {
      innerPageSize.value = val;
    },
  );
</script>
<style lang="scss" scoped>
  .selection-info {
    &::before {
      display: block;
      width: 16px;
      height: 16px;
      padding: 3px;
      border: 1px solid #ffd4a7;
      border-radius: 4px;
      background-clip: content-box;
      background-color: #fa8c16;
      content: '';
    }

    display: flex;
    align-items: center;
    color: #666;
    line-height: 22px;
  }
</style>
