<script lang="ts">
  import { withDefaults, defineProps } from 'vue';
  import { Router, useRouter } from 'vue-router';
  export default {
    name: 'PageHeader',
  };
</script>

<script setup lang="ts">
  withDefaults(
    defineProps<{
      /** 标题名称 **/
      title?: string;
      /** 是否显示返回上一页 **/
      back?: boolean;
    }>(),
    {
      title: '',
      subTitle: '',
      titleIconColor: '#1761F1',
      backTitle: '返回上一页',
      back: false,
      backgroundColor: '#F0F0F0',
    },
  );
  const router: Router = useRouter();
  // 返回上一页
  const goBack = (): void => {
    router.go(-1);
  };
</script>

<template>
  <div class="page-header">
    <h3 class="flex-none">{{ title }}</h3>
    <div class="header-slot">
      <slot />
    </div>
    <el-button v-if="back" type="text" @click.stop="goBack">
      <div class="back-icon">
        <i-arrowleft class="back-icon" />
      </div>
      返回上一页
    </el-button>
  </div>
</template>

<style lang="scss" scoped>
  .page-header {
    @apply flex flex-row justify-between items-center w-full;
    height: 20px;
  }

  .header-slot {
    // @apply flex-auto;
  }

  .back-icon {
    @apply flex-none inline-block align-middle mr-1;
    width: 20px;
    height: 20px;
  }
</style>
